<script>
  window.MathJax = {
    tex: {
      packages: {"[+]": ["ams"]},
      tags: "ams",
      inlineMath: [["$", "$"], ["\\(", "\\)"]],
      displayMath: [["$$", "$$"], ["\\[", "\\]"]],
      processEscapes: true
    },
    options: {
      skipHtmlTags: ["script", "noscript", "style", "textarea", "pre", "code"]
    }
  };
</script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/computer-modern@0.1.3/index.css">
<script
  defer
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
  onload="window.__mathjax_ready__ = true; window.dispatchEvent(new Event('mathjax-ready'));"
></script>

<script defer src="{{ "/assets/js/mathjax-details.js" | relative_url }}"></script>
