<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}" />
  <link rel="stylesheet" href="{{ "/assets/profile.css" | relative_url }}" />
  {% include head-custom.html %}
</head>

<body class="site-page">
  <main class="profile-shell" aria-label="Content">
      {{ content }}
  </main>
</body>

</html>
